
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .post-container {
            width: 80%;
            margin: 20px auto;
            background: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .post {
            margin-bottom: 20px;
            padding: 15px;
            border-left: 5px solid #007bff;
            background-color: #e9ecef;
        }
        .post:last-child {
            margin-bottom: 0;
        }
        .post h4 {
            margin-top: 0;
        }
    
        
    .trash-link {
        text-decoration: none;
        color: #333; /* Customize link color */
    }
    .trash-link:hover {
        color: red; /* Change color on hover if desired */
    }
    .edit-link {
        text-decoration: none;
        color: #333; /* Customize link color */
    }
    .edit-link:hover {
        color: blue; /* Change color on hover if desired */
    }
    .fa-comment {
        text-decoration: none;
        background-color: #f1f1f1;
        color: #333;
        padding: 5px;
        /* Add other styles as needed */
    }
    .fa-comment:hover {
        color: rgb(36, 116, 165); /* Change color on hover if desired */
    }
    .bi-twitter {
        font-size: 24px; /* Adjust the size */
        color: #1DA1F2; /* Twitter blue color */
        /* Add other styles as needed */
    }
